*{
    margin:0px;
    font-family: 'Noto Sans TC', sans-serif;
}
html, body, #__nuxt, #__layout, #__layout > div{
    height: 100%
}
.banner{
    z-index: 10;
    position:fixed;
    top:0px;
    width: 100%;
    background: #0090FF;
    height: 55px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
.banner .login{
    float:right;
    font-size: 14px;
    line-height: 55px;
    color:white;
    margin-right:20px;
}
.banner .title, #checkseemore:checked ~ .banner .title-blue{
    display:initial;
    margin-left: 10px;
}

.first-block{
    position: relative;
    width:100%;
    height: 100%;
    background: url("Group 139.png") #0090FF;
    background-position: center 63px;
    background-repeat: no-repeat;
    overflow-x: hidden;
    transition: height 100ms linear;
}
.earphone{
    position: absolute;
    bottom: 0px;
    left: 61px;
}
.earphone2{
    position: absolute;
    transform: rotate(-90deg);
    top: calc(100% - 265px);
    left: 100px;
    visibility: hidden;
}
.eye{
    position: absolute;
    right: 0px;
    top: 300px;
    visibility: hidden;
}
#checkseemore:checked ~ .first-block .earphone{
    display: none;
}
#checkseemore:checked ~ .first-block .earphone2{
    transition: all 100ms linear;
    top: 73px;
    left: 0px;
    transform:  rotate(0deg);
    visibility: visible;
}
#checkseemore:checked ~ .first-block .eye{
    transition: top 100ms linear;
    top: 0px;
    visibility: visible;
}
.scrolldown{
    display:none;
}
.slogan{
    position: absolute;
    top: 36%;
    width: 308px;
    left: calc(50% - 154px);
}
.slogan div{
    text-align: justify;
    color:white;
}
.slogan div:after{
    content:"";
    display:inline-block;
    width:100%;
    height:0px;
}
.line1{
    font-size: 42px;
    font-weight: 500;
}
.line2{
    margin-top: -68px;
    font-size: 50px;
    font-weight: 100;
}
.seemore{
    position: absolute;
    text-align: center;
    color: white;
    left: calc(50% - 39px);
    top: 66%;
    width: 78px;
    font-size: 19px;
}
#checkseemore:checked ~ .first-block{
    background:#0090FF;
    overflow-x: unset;
    height:247px;
}
#checkseemore:checked ~ .first-block .line1{
    font-size: 28px;
}
#checkseemore:checked ~ .first-block .line2{
    margin-top: -44px;
    font-size: 34px;
    font-weight: 100;
}
#checkseemore:checked ~ .first-block .slogan{
    width:210px;
    top: 107px;
    left: calc(50% - 105px);
}
#checkseemore:checked ~ .first-block .seemore{
    display: none;
}
#checkseemore:checked ~ .banner{
    background: #FFF;
    color:#0090FF;
    box-shadow: unset;
}
#checkseemore:checked ~ .banner .login{
    color:#0090FF;
}
#checkseemore:checked ~ .banner .title, .banner .title-blue{
    display:none;
}
#checkseemore:checked ~ .scrolldown{
    display:block;
}
.seconds-block{
    position:relative;
    color:#007CDC;
    width: 100%;
    height: 102px;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    margin-top:105px;
    line-height: 36px;
}
.sb-addition{
    position: absolute;
    display: contents;
    font-size: 14px;
    line-height: 17px;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
}
.third-block{
    width: calc(100% - 30px);
    height:436px;
    margin:auto;
    background: #FFDE00;
    margin-top:-112px;
    color:black;
    font-weight: 500;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.tb-title{
    padding-top: 63px;
    padding-right: 22px;
    text-align: right;
    font-size: 27px;
}
.tb-content{
    width:280px;
    margin-left: 21px;
    font-size: 16px;
    margin-top: 95px;
    line-height: 21px;
}
.four-block{
    margin: auto;
    margin-top: 41px;
    width: 100%;
    height: 99px;
    text-align: center;
    color: #007CDC;
}
.fourblock-1, .sevenblock-1{
    font-size: 44px;
    font-weight: 100;
}
.fourblock-2, .sevenblock-2{
    font-size: 24px;
    font-weight: 500;
    margin-top: -3px;
}
.slide-show{
    position: relative;
    height: 300px;
    margin-top: 49px;
}
.ss-pic{
    position: absolute;
    width: 306px;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 15px 30px rgba(0,0,0,0.3);
}
.six-block{
    height: 809px;
    width:100%;
    margin-top: 71px;
    padding-bottom: 50px;
    text-align: center;
    background: #0090FF;
    color: white;
}
.sixty-min div{
    display: inline-block;
}
.sixty{
    font-size: 109px;
}
.sixty-min .minute{
    font-size: 30px;
    font-weight: 100;
}
.perform-dif{
    font-size: 30px;
    font-weight: 500;
    margin-top: -20px;
}
.bu-assist{
    font-size: 14px;
    margin-top: 25px;
}
.before-class{
    text-align: left;
    margin: auto;
    margin-top: 35px;
    width: 317px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background: url("Group 148.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}
.before-class div, .after-practice div{
    width: 279px;
    margin-left: 18px;
    font-size: 16px;
}
.past{
    border-left: 2px solid white;
    padding-left: 8px;
    font-weight: 500;
    margin-top: 20px;
}
.past-content{
    height: 84px;
    margin-top: 18px;
    margin-bottom: 68px;
}
.after-practice{
    text-align: left;
    margin: auto;
    width: 317px;
    border-bottom: 2px solid white;
    background: url("Group 149.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}
.after-content{
    margin-top: 18px;
    margin-bottom: 68px;
}

.seven-block{
    width:100%;
    text-align: center;
    background: #F9F9F9;
}
.sevenblock-1, .sevenblock-2{
    color: black;
}
.sevenblock-1{
    padding-top: 40px;
}
.sevenblock-2{
    margin-bottom: 38px;
}
.videoplay{
    margin: auto;
    width:340px;
    height: 405px;
    background: black;
}
.fbshare{
    width: 300px;
    font-size: 15px;
    margin: auto;
    margin-top: 27px;
    padding-bottom: 24px;
}
.clickshare{
    color: #0090FF;
    float: right;
}
.comment-title{
    text-align: center;
    font-size: 42px;
    color: #007CDC;
    font-weight: 500;
    margin-top: 39px;
    margin-bottom: 51px;
}
.comment{
    margin: auto;
    width: 343px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 55px;
}
.comment-content{
    margin-top: 15px;
}
.eight-block{
    width: 100%;
    background: #0090FF;
    font-weight: 400;
    color: white;
}
.eb-title{
    font-size: 42px;
    text-align: center;
    padding-top: 24px;
}
.eb-des{
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-bottom: 33px;
    margin-top: -3px;
    font-weight: 100;
}
.eb-content{
    font-size: 15px;
    width: 328px;
    margin: auto;
    padding-left: 3px;
    padding-bottom: 82px;
}
.phoneimg{
    width: 100%;
    height: 304px;
    background: url("Group 154.png");
    background-position: center;
    background-size: auto 100%; 
    background-repeat: no-repeat;
}
.nine-block{
    width: 357px;
    margin: auto;
    margin-top: 34px;
    text-align: center;
}
.nb-title{
    font-size: 20px;
    font-weight: 500;
}
.nb-fly{
    width: 244px;
    height: auto;
    margin-top: -13px;
}
.nb-3{
    margin-top: 16px;
    font-size: 25px;
    font-weight: 100;
}
.nb-4{
    font-size: 23px;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: 28px;
}
.ten-block{
    text-align: center;
    width: calc(100% - 30px);
    height: 250px;
    margin: auto;
    margin-top: 46px;
    font-weight: 500;
    background: #FFDE00;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
.tb-1{
    padding-top: 45px;
    font-size: 27px;
}
.tb-2{
    font-size: 30px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.blank-block{
    width: 100%;
    height: 126px;
}
.paynow{
    position: fixed;
    bottom: 0px;
    text-align: center;
    background: #0090FF;
    width: 100%;
    height: 71px;
    line-height: 71px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}